*{
	margin:0;
	padding:0;
}



body{
	background:#4479BA;
			 
}

#wrapper{
	width:80%;
	margin:0 10% 0 10%;
	background-color:white;
	opacity:1;
	float:left;
}

/*---------------------------------------- Header -------------------------------------------*/

/*----------------------------------------Logo-----------------------------------------------*/


#logo{
	width:30%;
	float:left;
	margin:3px 0 0 5%;
}

#logo img{height:120px;width:320px;}

/*Login*/

#header_right{
	width:60%;
	float:left;
	text-align:right;
	background-color:rgba(0,0,0,0.8);
	margin:3px 5% 0 0;
	height:120px;
}


.clear{clear:both;}

/*-------------------------------------footer------------------------------------*/

#footer{
	margin-left:5%;
	margin-right:5%;
	margin-bottom:10px;
	color:white;
	font-size:12px;
}

#footer ul{list-style-type:none; margin-bottom:5px;}

.foot{display:inline;padding: 2px 5px;}

.foot a{
	text-decoration:none;
	color:white;
	border-right:1px;
}

.foot a:hover , .foot a:focus{color:rgb(32, 178, 170);}

