@import "fonts/fontface.css";


header {
	margin:40px auto;
	position:relative;
	height:auto;
	z-index:222;
}
header a,header a:hover {
	text-decoration:none;
}


header #logo_index h1 {
	font-size:110px;
	font-weight:normal;
	text-decoration:none;
	text-shadow:3px 3px 5px #000000;
	text-align:center;
	font-family: 'ArizoniaRegular';
	line-height:50px;
	margin-bottom:50px;
}
header .slogan {
	text-shadow:3px 3px 5px #000000;
	text-align:center;
	font-size:40px;
	line-height:40px;
	font-family: 'UbuntuRegular';
}