

/*---------------------------------------Debate Topic--------------------------------------*/

.para_text{font-family: 'Open Sans', sans-serif;
font-size:13px;

}

/*----------------------------------------------voting and representing sides--------------------------------------------------*/

#voting_sides{
	width:60%;
	float:left;
	
}


#voting_sides hr{margin-right:10px;height:2px;color:black;background-color:black;margin-top:1px}

	
#s3_up,#s3_down{
	position:relative;
	top:20px;
}
	
#agree{
	background:rgba(49, 140, 231 , 0.6 );
	border:0;
	margin:0;
	width:59%;
	margin-right:0.5%;
	height:100%;
	font-size:20px;
	float:left;
}

#s4{position:relative;top:10px;}

#s5{position:relative;top:20px;}

#s5 a{
	color:#FFF;
	text-decoration:none;
	padding:3px 15px;
	background:#4479BA;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#s5 a:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

#s5 a:hover, #s5 a:focus {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

/*-------------------------------------------vote at glance-------------------------------------------------*/

/*-------------------------------------voting----------------------------------------*/



/*-------------------------------------------sides--------------------------------*/

#defend{
	width:45%;
	float:left;
	margin-right:15px;
	margin-left:8px;
	margin-top:10px;
}

#defend img{
	height:80px;
	width:65px;
	float:left;
	margin-bottom:2px;
	
}

#d3{border-bottom:1px solid black;margin-bottom:0}

#defend h5{
	color:rgb(49, 140, 231);
	margin-top:0;
	margin-bottom:5px;
	font-weight:600;
}




/*--------------------------------------------------reading and upcoming------------------------------------------------*/



#reading_upcoming{
	width:22%;
	float:left;
	margin-top:20px;
	font-size:20px;
	align:justify;
}

#reading_upcoming h3{margin-left:5px;margin-bottom:0;border-bottom:1px solid black;}



.p1{font-size:18px;margin:10px 0 0 5px;}
.s6{font-size:16px;}
.s6 a{text-decoration:none;color:rgb(49, 140, 231);}
.s7{font-size:16px;}
.s8{font-size:12px;float:right;}

/*----------------------------------------------comments-----------------------------------------------*/
	
#comments{
	width:39%;
	float:left;
	align:justify;
	margin-left:0.5%;
}



	




