.tabbed_content {
	background-color: #F0FFFF;
	width: 920px;	
	margin:auto;
}

.tabs {
	height: 62px;
	position: relative;
}

.tabs .moving_bg {
	padding: 15px;
	background-color:#7F822A;
	background-image:url(../images/arrow_down_green.gif);
	position: absolute;
	width: 125px;
	height:15px;
	z-index: 190;
	left: 0;
	padding-bottom: 29px;
	background-position: bottom left;
	background-repeat: no-repeat;
}
.tab_item{background-color:#FFA500}
.tabs .tab_item {
	display: block;
	float: left;
	padding: 15px;
	width: 125px;
	margin:2px;
	height:24px;
	color: #000000;
	text-align: center;
	z-index: 200;
	position: relative;
	cursor: pointer;
}

.tabbed_content .slide_content {
	overflow: hidden;
	padding: 20px 0 20px 20px;
	position: relative;
	width: 880px;
	
}

.tabslider {
	width: 5000px;
}

.tabslider ol {
	float: left;
	width: 860px;
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
}

.tabslider ol a {
	color: #ffffff;
	text-decoration: none;
}

.tabslider ol a:hover {
	color: #aaaaaa;
}

.tabslider ol li {
	padding-bottom: 1px;
}